.product-table-div {
  border-radius: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: purple;
  overflow: hidden;
}

.in-stock {
  background-color: rgba(0, 255, 0, 0.3);
}

.not-in-stock {
  background-color: rgba(255, 0, 0, 0.3);
}

mat-header-cell:is(:first-child) {
  background-color: white !important;
  color: white !important;
}
