/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-ripple-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: rgba(0, 0, 255, 0.2);
}

mat-cell {
  justify-content: center;
  text-align: center !important;
}

mat-cell,
mat-header-cell {
  border-right: 1px solid rgba(0, 0, 0, 0.1); /* Adjust color and thickness as needed */
}

mat-header-cell {
  justify-content: center;
  font-size: larger;
  font-weight: bold !important;
  background-color: #9c27b0 !important;
  color: white;
  font-weight: lighter !important;
}
